.footer {
  background: #171738;
  padding: 80px 40px 40px 40px;
}
.footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a,
.footer p {
  color: #646E87;
  text-decoration: none;
  font-size: 13px;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #D5F74E;
}


.contact {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  margin-bottom: 25px;
  padding-bottom: 25px;

  display: flex;
  align-items: center;
}

.contact p,
.legal p {
  margin: 0;
}
.sm {
  display: flex;
  align-items: center;
}
.sm div {
  border-right: 1px solid #646E87;
  height: 25px;
  margin-left: 18px;
}
.sm > a {
  margin-left: 18px;
}
.sm > a svg path {
  transition: fill 0.3s ease;
}
.sm > a:hover svg path {
  fill: #D5F74E;
}
.legal a {
  margin-right: 18px;
}

@media only screen and (max-width: 900px) {
  .footer {
    padding: 64px 20px 40px 20px;
    text-align: left;
  }
  .footer > div {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact p {
    margin: 18px 0;
  }
  .sm > a:first-child {
    margin-left: 0;
  }
  .legal a {
    display: block;
    margin-top: 18px;
  }
  .legal p {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 500px) {
  .sm {
    flex-wrap: wrap;
  }
  .sm > a:first-child {
    flex-basis: 100%;
    margin-bottom: 32px;
  }
  .sm > a:nth-child(3) {
    margin-left: 0;
  }
  .sm > div {
    display: none;
  }
}
