/* https://github.com/necolas/normalize.css */
@import 'normalize.css';

* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

body {
  background: #FCF8F1;
  color: #26213E;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #2A3042 !important;
  margin-bottom: 32px !important;
}

.react-tabs__tab {
  color: #FFF !important;
  border: none !important;
  padding: 24px !important;
}

.react-tabs__tab--selected {
  background: #26213E !important;
  font-weight: 500 !important;
}
